.user {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 56px 0.8fr 56px;
    text-align: center;
    align-items: center;
    justify-content: center ;
    column-gap: 15px;
}

.more-icon {
    background-color: #F0F5FA;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: grid;

}

.more-text {
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

.name-user-cohort {
    display: grid;
    justify-self: left;
}