.edit-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #F0F5FA;
  position: relative;
  cursor: pointer;
}

.edit-icon p {
  text-align: center;
  font-size: 20px;
}

.profile-circle-menu {
  margin-left: 65px;
}