.parent-teacher {
    padding-left: 100px;
    width: 964px; 
}

.parent-student {
    padding-left: 100px;
    width: 744px; 
}

h1 {
    padding: 30px;
}

.searchparent {
    padding: 50px;
    background-color: white;
}

.searchbar {
 padding: 20px  
}

.resultsparent {
    margin-top: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 100% auto;
}

.profiles {
    justify-self:  center;
    text-align: center;
    text-decoration: none;
    padding: 0px;
    font-size: 18px;
    color: #64648C;
}

.results-header {
    font-size: 18px;
    margin: 16px 560px 18px 24px;
    padding: 0px;
    color: #64648C;
}

.hr-search {
    height: 1px;
    background: #E6EBF5;
    margin-inline: 24px;
}

.resultslist > ul > li.user-student {
    display: grid;
    grid-template-columns: 100px 1fr 100px 75px;
    grid-template-columns: 24px 56px 16px 229px 133px 88px 24px 48px 24px;
    grid-template-areas: '. icon . userinfo . profile . more .';
    grid-template-rows: 1fr;
    align-items:  center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.resultslist > ul > li.user-teacher {
    display: grid;
    width: 864px;
    grid-template-columns: 24px 56px 16px 229px 32px 88px 24px 300px 24px 48px 24px;
    grid-template-areas: '. icon . userinfo . profile . teacher . more .';
    grid-template-rows: 1fr;
    align-items:  center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.search-picture {
    grid-area: icon;
    display: grid;
    place-content: center;
}

.profile-info {
    grid-area: userinfo;
}

.profile-info > h4 {
    font-size: 20px;
}

.profile-info > p {
    font-size: 16px;
}

.profile-btn {
    grid-area: profile;
    display: grid;
    place-content: center;
}

.teacher-buttons {
    grid-area: teacher;
}

#search-more {
    grid-area: more;
}

.userpicture {
    border-radius: 35px;
}

.backarrow {
    position: absolute;
    left: 220px;
    top: 142px;
}

.extrainfo {
    font-size: 15px;
    color: #64648c;
    font-weight: 400;
}

.searchparent > div {
    position: relative;
}

.clearbutton {
    padding: 5px;
    line-height: 28px;
    position: absolute;
    border-radius: 20px;
    height:50%;
    top: 15px;
    right: 15px;
    background: #D9D9D9;
}

#search-more {
    padding: 0;
    display: grid;
    justify-content: center;
    background-color:#F0F5FA;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

li {
    position: relative;

}

li:hover {
    background-color: #F5FAFF;
}

.showmore {
    position: absolute;
    background-color: white;
    right: -100px;
    top: 60px;
    height: 60px ;
    width: 150px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgb(179, 179, 179);
    text-align: center;
    padding-top: 10px;
    justify-content: center;
    align-content: center;
}

.dropprofiles {
    text-decoration: none;
    position: relative
}

.dropicon {
    position: absolute;
    right: 20px;
    top: 5px
}

.droptext {
    position: absolute;
    right: -40px;
    top: 12px
}

.teacher-buttons {
    display: grid;
    grid-template-columns: 112px 164px;
    gap: 24px;
    width: 300px;
    height: 48px;
}

button.sr-button{
   height: 48px;
   width: 100%;
   background-color: #FFFFFF;
   border-radius: 8px;
   color: #64648C;
   font-size: 18px;
   padding: 0px;
}
